*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'BatmanAsylum';
    src: url(Bou_Collegiate.ttf);
}

body{
    background-color: black;
    height: auto;
}

.background{
    background-image: url(img/batmanBackground.jpg);
    background-repeat: no-repeat;
    width: 100wh;
    height: 100vh;
}

.introducao{
    height: 30rem;
    width: 59.375rem;
    position: absolute;
    margin-top: 21.875rem;
    margin-left: 27%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    font-family: BatmanAsylum;
    font-size: 2.3rem;
    border-radius: 0.8rem 1.2rem;
    text-align: center;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;

}

.trailer{
    width: 97vw;
    height: 55vh;
    margin-left: 3rem;
}

.texto00{
    width: 130rem;
    height: 25rem;
    color: white;
    font-family: BatmanAsylum;
    font-size: 2rem;
}

.classificacao{
    width: 70rem;
    margin-left: 20rem; 
    margin-right: 20rem;
    color: white;
    font-family: BatmanAsylum;
    font-size: 2rem;
    text-align: justify;
}


.titulo{
    margin-top: 5rem;
    display:flex;
    justify-content: center;
    font-family: BatmanAsylum;
    color: white;
    font-size: 5rem;
}

.textoEsquerdo{
    width: 100rem;
    margin-top: 8rem;
    margin-left: 10rem; ;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: BatmanAsylum;
    color: white;
    font-size: 2rem;
    gap: 20px;
    text-align: center;
}

.Image01{
    width: 40rem;
}

.textoDireito{
    width: 100rem;
    margin-top: 8rem;
    margin-left: 10rem; ;
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: BatmanAsylum;
    color: white;
    font-size: 2rem;
    gap: 20px;
    text-align: center;
}

.Image02{
    width: 40rem;
}

.textoFim{
    width: 80rem;
    margin-top: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: BatmanAsylum;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.finals{
    margin-top: 10rem;
    margin-left: 20rem;
    font-family: BatmanAsylum;
    color: white;
    font-size: 3rem;
}

.finalAlternative{
    width: 80rem;
    margin-left: 20rem;
}

.rodape{
    height: 3rem;
    margin-top: 5rem;
    font-family: BatmanAsylum;
    color: rgb(0, 0, 0);
    background-color: darkgray;
    text-align: center;
    font-size: 2rem;
}